<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeTube video</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="layerslider/css/layerslider.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.kyco.easyshare.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		<!--header-->
		<div th:replace="~{fragments/header::header}"></div>
	
		<!-- End Header -->
            <!--breadcrumbs-->
            <section id="breadcrumb" class="breadMargin">
                <div class="row">
                    <div class="large-12 columns">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                                <li>
                                    <span class="show-for-sr">Current: </span> Blog
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section><!--end breadcrumbs-->

            <section class="category-content">
                <div class="row">
                    <!-- left side content area -->
                    <div class="large-8 columns">
                        <div th:each="blog:${blogPageBean.list}"  class="blog-post">
                            <div class="row secBg">
                                <div class="large-12 columns">
                                    <div class="blog-post-heading">
                                        <h3><a th:href="'/findBlogById?id='+${blog.id}" th:text="${blog.title}">There are many variations of passage. </a></h3>
                                        <p>
                                            <span><i class="fa fa-user"></i><a th:href="'/findUserAboutMeById?id='+${blog.user.id}" th:text="${blog.user.displayName}">admin</a></span>
                                            <span><i class="fa fa-clock-o"></i><span th:text="${blog.createTime}">5 January 16</span></span>
                                            <span><i class="fa fa-eye"></i><span th:text="${blog.viewNumber}">1,862K</span></span>
                                            <span><i class="fa fa-commenting"></i>8</span>
                                        </p>
                                    </div>
                                    <div class="blog-post-content">
                                        <div class="blog-post-img">
                                            <img th:src="'upload/'+${blog.coverImage}" alt="blog image">
                                        </div>
                                        <p th:text="${blog.keyword}">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt [..] </p>
                                        <a class="blog-post-btn" th:href="'/findBlogById?id='+${blog.id}">read me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
	
	
						<section class="content content-with-sidebar followers margin-bottom-10">
							<div class="row secBg">
								<div class="pagination">
									<a th:href="|/findAllBlog?currentPage=${blogPageBean.currentPage-1}|" class="prev page-numbers">« Previous</a>
									<a th:href="|/findAllBlog?currentPage=1|" class="prev page-numbers">First</a>
									<a th:href="|/findAllBlog?currentPage=${blogPageBean.currentPage-2}|" th:text="${blogPageBean.currentPage-2}" th:if="${blogPageBean.currentPage-2 > 0}" class="page-numbers">1</a>
									<a th:href="|/findAllBlog?currentPage=${blogPageBean.currentPage-1}|" th:text="${blogPageBean.currentPage-1}" th:if="${blogPageBean.currentPage-1 > 0}" class="page-numbers">1</a>
									<span class="page-numbers current" th:text="${blogPageBean.currentPage}">2</span>
									<a th:href="|/findAllBlog?currentPage=${blogPageBean.currentPage+1}|" th:text="${blogPageBean.currentPage+1}" th:if="${blogPageBean.currentPage+1 <= blogPageBean.totalPage}" class="page-numbers">1</a>
									<a th:href="|/findAllBlog?currentPage=${blogPageBean.currentPage+2}|" th:text="${blogPageBean.currentPage+2}" th:if="${blogPageBean.currentPage+1 < blogPageBean.totalPage}" class="page-numbers">1</a>
									<a th:href="|/findAllBlog?currentPage=${blogPageBean.totalPage}|" class="prev page-numbers">Last</a>
									<a th:href="|/findAllBlog?currentPage=${blogPageBean.currentPage+1}|" class="next page-numbers">Next »</a>
								</div>
							</div>
					</section>

                        
                        <!-- ad Section -->
                        <div class="googleAdv">
                            <a href="#"><img src="images/goodleadv.png" alt="googel ads"></a>
                        </div><!-- End ad Section -->
                    </div><!-- end left side content area -->
                    <!-- sidebar -->
                    <div class="large-4 columns">
                        <div th:replace="~{fragments/blog-video-right::blogVideoRight}"></div>
                    </div><!-- end sidebar -->
				</div>
			</section>
            <!-- End Category Content-->
		<!-- footer -->
		<div th:replace="~{fragments/footer::footer}"></div>
		<!-- footer -->
        </div><!--end off canvas content-->
</div><!--end off canvas wrapper inner-->
<!--end off canvas wrapper-->
<!-- script files -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/what-input/what-input.js"></script>
<script src="bower_components/foundation-sites/dist/foundation.js"></script>
<script src="js/jquery.showmore.src.js" type="text/javascript"></script>
<script src="js/app.js"></script>
<script src="layerslider/js/greensock.js" type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/inewsticker.js" type="text/javascript"></script>
<script src="js/jquery.kyco.easyshare.js" type="text/javascript"></script>
</body>
</html>